<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <div class="container-fluid">
        <div class="col">
          <div class="card shadow mb-4">
            <table *ngIf="hosts" class="table table-responsive w-100 d-block d-md-table">
              <thead>
              <tr>
                <th>Nom Interface Reseau</th>
                <th>Adresse Mac</th>
                <th>Nombre de paquets</th>
                <th>More Information</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tmpHost of hosts">
                <td>{{tmpHost.hostName}}</td>
                <td>{{tmpHost.adrMac}}</td>
                <td>{{tmpHost.addrIp}}</td>

               <Button class="btn btn-dark" [routerLink]="['/host', tmpHost.id]"> Click Here !</Button>

              </tr>

              </tbody>
            </table>

          </div>
        </div>



      </div>
    </div>
  </div>
  <footer class="bg-white sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright"></div>
    </div>
  </footer>
