<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <div class="container-fluid">
        <div class="col">
          <div class="card shadow mb-4">
            <table *ngIf="hosts" class="table table-responsive w-100 d-block d-md-table">
              <thead>
              <tr>
                <th>Host ID</th>
                <th>Host Name</th>
                <th>Adresse IP</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tmpHost of hosts.result">

                <td>{{tmpHost.name}}</td>
                <td>{{tmpHost.ip_address}}</td>

               <Button class="btn btn-dark" (click)="onHostInfo(tmpHost.name)"> Click Here !</Button>

              </tr>

              </tbody>
            </table>

          </div>
        </div>



      </div>
    </div>
  </div>
  <footer class="bg-white sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright"></div>
    </div>
  </footer>
