<div class="d-flex flex-column" id="content-wrapper">
  <div id="content">
    <div class="container-fluid">
      <div class="row mb-3">
        <div class="col-lg-8">
          <div class="row">
            <div>
              <div>
                <div class="card shadow mb-3">

                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">Host Information</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group"><label for="hostName"><strong>Host Name</strong></label><input class="form-control" type="text" id="hostName" placeholder="Host X" name="hostname" disabled="disabled"></div>

                        <div class="form-group"><label for="platform"><strong>Platform</strong></label><input class="form-control" type="text" id="platform" placeholder="Ubuntu X" name="platform" disabled="disabled"></div>
                      </div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Historique</button></div>
                  </form>
                </div>
                </div>
              </div>
            </div>

            <div>
              <div class="card shadow mb-3">
                <div class="card-header py-3">
                  <p class="text-primary m-0 font-weight-bold">Host Information</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-row">
                      <div class="col">
                        <div class="form-group"><label for="hostName"><strong>Host Name</strong></label><input class="form-control" type="text" id="hostName" placeholder="Host X" name="platform" disabled="disabled"></div>

                        <div class="form-group"><label for="platform"><strong>Adresse Mac</strong></label><input class="form-control" type="text" id="adrMac" placeholder="Ubuntu X" name="platform" disabled="disabled"></div>
                        <div class="form-group"><label for="platform"><strong>Adresse IP</strong></label><input class="form-control" type="text" id="adrIp" placeholder="Ubuntu X" name="platform" disabled="disabled"></div>

                      </div>
                    </div>
                    <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Historique</button></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="col">
          <div class="card shadow mb-4">
            <table class="table table-responsive w-100 d-block d-md-table">
              <thead>
              <tr>
                <th>Nom Interface Reseau</th>
                <th>Adresse IP</th>
                <th>Nombre de paquets</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>



      </div>
    </div>
  </div>
  <footer class="bg-white sticky-footer">
    <div class="container my-auto">
      <div class="text-center my-auto copyright"></div>
    </div>
  </footer>
