<div class="container-fluid">

<div id="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-network-wired"></i></div>
        <div class="sidebar-brand-text mx-3"><span>Projet Long</span></div>
      </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link active" routerLink="/index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/host"><i class="fas fa-user"></i><span>Hosts</span></a></li>
        <li class="nav-item"><a class="nav-link" href="/plot"><i class="fas fa-table"></i><span>Agent</span></a></li>
        <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Trigger</span></a></li>
      </ul>
      <div class="text-center d-none d-md-inline"></div>
    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>

  </div>

</div>
